@use '../abstracts' as *;

.no-sub-vis {
    position: relative;
    height: fluid(293, 693);

    &__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: fluid(12, 24);
    }
    &__content {
        z-index: 1;
        position: relative;
        color: #fff;
    }

    &__img {
        @include pos-center();

        img {
            @include img-cover();
        }
    }
}
