@use "../abstracts" as *;

.no-hidden {
  overflow: hidden;
}

.--blind {
  @include blind();
}

.--tal {
  text-align: left;
}
.--tar {
  text-align: right;
}
.--tac {
  text-align: center;
}

.--fm-ko {
  font-family: var(--family-ko-base);
}
.--fm-en {
  font-family: var(--family-en-base);
}

.--bold {
  font-weight: 700;
}

.--semibold {
  font-weight: 600;
}

.--medium {
  font-weight: 500;
}

.--regular {
  font-weight: 400;
}

.--light {
  font-weight: 300;
}

.--lh-md {
  line-height: 1.45;
}

.--lh-desc {
  line-height: 1.618;
}

.--section-title-with-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid var(--clr-border-strong);
  padding-bottom: fluid(24, 32);
  @include mq(md) {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gutter-sm);
  }
}

.--section-sub-title-border {
  padding-bottom: fluid(24, 48);
  border-bottom: 1px solid var(--clr-border-strong);
}
.--section-sub-title-with-buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: fluid(24, 36);
  border-bottom: 1px solid var(--clr-border-default);
  align-items: center;
  @include mq(md) {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gutter-sm);
  }
}

.--section-title-with-search {
  display: flex;
  justify-content: space-between;
  @include mq(sm) {
    flex-direction: column;
    gap: var(--gutter-sm);
  }
}
.--section-title {
  text-align: center;
}
.--p-list {
  display: flex;
  flex-direction: column;
  gap: fluid(4, 6);
  font-size: fluid(13, 18);
  font-weight: 400;
}

b {
  font-weight: 700;
}
.--ld-icon {
  width: fluid(48, 88);
  height: fluid(48, 88);
  lord-icon {
    width: 100%;
    height: 100%;
  }
}

.--ld-icon-sm {
  width: fluid(24, 48);
  height: fluid(24, 48);
  lord-icon {
    width: 100%;
    height: 100%;
  }
}

.--cnt {
  margin-top: fluid(36, 88);
}

.--pos-logo {
  position: absolute;
  bottom: fluid(8, 24);
  left: fluid(12, 40);
  width: fluid(72, 160);
  height: fluid(24, 54);
}

.--require-symbol {
  color: #f25656;
}

.--mt-sm {
  margin-top: var(--gutter-sm);
}

.--badge {
  background: rgba(0, 0, 0, 0.36);
  color: #fff;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-weight: 400;
  padding: fluid(2, 4) fluid(6, 10);
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: fluid(8, 20);
  font-size: fluid(12, 14);
  left: fluid(8, 20);
  z-index: 10;
}

.root_daum_roughmap .wrap_controllers,
.cont {
  display: none;
}

.map-link {
  display: flex;
  gap: fluid(8, 12);
  margin-top: fluid(16, 24);
  @include mq(md) {
    margin-top: 0;
  }
  @include mq(sm) {
    flex-direction: column;
    width: 100%;
    a {
    }
  }
  > div {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: fluid(8, 12);
      padding: 0 fluid(16, 28);
      height: var(--input-height);
      color: #fff;
      text-decoration: none;
      transition: ease all 0.3s;
      font-weight: 500;
      img {
        width: fluid(18, 24);
      }
    }
  }
  .naver a {
    background: #03c75a;
    &:hover {
    }
  }

  .kakao a {
    background: #ffe812;
    color: #381e1f;
    &:hover {
    }
  }
}

.answer-status {
  display: inline-block;
  margin-left: 8px;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 4px;
}
.answer-status.complete {
  background: var(--clr-primary-def);
  color: #fff;
}
.answer-status.pending {
  background: #f5f5f5;
  color: #333;
}

.--clip-img-wrap {
  overflow: hidden;
}

.--clip-img {
  /* 처음에는 완전히 잘린 상태 (아무것도 안 보임) */
  clip-path: inset(100% 0 0 0);
  transform: scale(1.5);
}

.--mg-t--lg {
  margin-top: fluid(64, 120);
}

// Mouse Follower Cursor
.mf-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  direction: ltr;
  contain: layout style size;
  pointer-events: none;
  transition: opacity 0.3s, color 0.4s;
}
@media (max-width: 768px) {
  .mf-cursor {
    display: none;
  }
}
.mf-cursor:before {
  content: "";
  position: absolute;
  top: -40px;
  left: -40px;
  display: block;
  width: 8rem;
  height: 8rem;
  transform: scale(0.2);
  background: var(--clr-background-cursor);
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.25s ease-in-out, opacity 0.1s;
}
@media (max-width: 1320px) {
  .mf-cursor:before {
    width: 8rem;
    height: 8rem;
    top: -4rem;
    left: -4rem;
  }
}
.mf-cursor.-inverse {
  color: #000;
}
@supports (mix-blend-mode: exclusion) {
  .mf-cursor.-exclusion {
    mix-blend-mode: exclusion;
  }
  .mf-cursor.-exclusion:before {
    background: #000;
  }
}
.mf-cursor.-pointer:before {
  transform: scale(0.8);
  opacity: 0.8;
}
.mf-cursor.-text:before {
  opacity: 1;
  transform: scale(1);
}
.mf-cursor.-text.-active:before {
  transform: scale(1.6);
  transition-duration: 0.2s;
}
.mf-cursor.-icon:before {
  transform: scale(1.5);
}
.mf-cursor.-icon.-active:before {
  transform: scale(1.4);
}
.mf-cursor.-hidden:before {
  transform: scale(0);
}
.mf-cursor-text {
  position: absolute;
  top: -18px;
  left: -18px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0) rotate(10deg);
  opacity: 0;
  color: var(--clr-text-cursor);
  font-size: var(--fs-body-md);
  text-align: center;
  transition: opacity 0.4s, transform 0.3s;
}
.mf-cursor.-text .mf-cursor-text,
.mf-cursor.-icon .mf-cursor-text {
  opacity: 1;
  transform: scale(1);
}
.mf-cursor-media {
  position: absolute;
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
}
.mf-cursor-media img,
.mf-cursor-media video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
@supports (object-fit: cover) {
  .mf-cursor-media img,
  .mf-cursor-media video {
    position: static;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateZ(0);
  }
}
.mf-cursor-media-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: scale(0) translateZ(0);
  padding: 1px;
  opacity: 0;
  border-radius: 50%;
  transition: transform 0.35s, opacity 0.2s 0.2s;
}
.mf-cursor.-media .mf-cursor-media-box {
  opacity: 1;
  transform: scale(0.696);
  transition-duration: 0.4s, 0.4s;
  transition-delay: 0s, 0s;
}
