@use "../abstracts" as *;

input,
select,
textarea {
  background: none;
  width: 100%;
  padding-top: fluid(16, 24);
  height: fluid(48, 64);
  border-bottom: 1px solid var(--clr-border-white-strong);
}

.no-form-label {
  display: flex;

  align-self: center;

  justify-content: space-between;

  gap: 0.8rem;

  margin-bottom: 0.8rem;

  width: 100%;
}

.no-form-control {
  position: relative;

  label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--clr-text-title);
    font-size: fluid(14, 16);
    font-weight: 400;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    opacity: 1;
  }

  input,
  select,
  textarea {
    background: none;
    width: 100%;
    border-bottom: 1px solid var(--clr-border-white-week);
    color: #fff;
    transition: border-color 0.3s ease;
    &:focus {
      border-color: var(--clr-border-white-strong);
      outline: none;
    }
  }

  textarea {
    height: fluid(160, 320);
    display: block;
    padding-top: fluid(24, 48);
    resize: vertical;
  }

  &.--focused {
    label {
      top: 0;
      transform: translateY(0);
      opacity: 0.48;
    }
  }

  &:has(textarea) {
    label {
      top: fluid(24, 36);
    }
    &.--focused label {
      top: 0;
    }
  }

  &.--full {
    grid-column: 1 / 3;
    @include mq(md) {
      grid-column: auto;
    }
  }
}

.no-form-search {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 420px;
  border-bottom: 1px solid var(--clr-border-default);
  overflow: hidden;
  @include mq(sm) {
    max-width: none;
  }
  input {
    flex: 1;
    padding: 0;
    border: none;
    outline: none;
    font-size: fluid(14, 16);
    color: #111;
    background: transparent;
    &::placeholder {
      color: rgba(0, 0, 0, 0.64);
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fluid(24, 48);
    height: fluid(24, 48);
    border: none;
    background: transparent;
    color: #555;
    font-size: fluid(16, 18);
    border-radius: 5rem;
    cursor: pointer;
    transition: ease all 0.3s;
    &:hover {
      background: #fafafa;
    }

    i {
      pointer-events: none;
    }
  }
}

.no-form-container {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: var(--gutter-md);

  @include mq(md) {
    grid-template-columns: 1fr;
  }
}

.no-form-submit {
  margin-top: var(--gutter-md);
  display: flex;

  @include mq(md) {
  }
  button {
    width: fluid(188, 288);
    height: fluid(64, 88);
    border-radius: 5rem;
    border: 1px solid var(--clr-border-white-strong);
    transition: ease all 0.3s;
    @include mq(md) {
      width: 100%;
    }
    &:hover {
      color: #000;
      background: #fff;
      border: 1px solid transparent;
    }
  }
}

.no-form-radio {
  @include mq(md) {
    flex-direction: column;

    align-items: flex-start;

    gap: 1rem;
  }

  &__list {
    display: flex;

    align-items: center;

    gap: 1.6rem;
  }

  label {
    display: inline-flex;

    align-items: center;

    gap: 0.8rem;
  }

  input {
    display: none;

    &:checked + .no-form-radio__box {
      span {
        transform: scale(1);
      }
    }
  }

  &__box {
    width: fluid(20, 24);

    height: fluid(20, 24);

    border-radius: 50%;

    border: 1px solid var(--clr-ui-bg-lg);

    @include flex-center();

    span {
      width: fluid(10, 12);

      height: fluid(10, 12);

      background-color: var(--clr-ui-bg-lg);

      border-radius: 50%;

      transform: scale(0);

      transition: 0.15s;
    }
  }
}

.no-agree-box {
  &__content {
    border: 1px solid #ccc;

    padding: 1.6rem;

    overflow-y: auto;

    height: 18rem;

    background-color: #f9f9f9;

    font-size: fluid(14, 16);

    color: #707070;
  }
}

.no-form-check {
  display: flex;
  align-items: center;
  gap: fluid(4, 8);

  label {
    display: flex;
    align-items: center;
  }
  button {
    text-decoration: underline;
    color: #fff;
  }
}

.no-form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq(sm) {
    flex-direction: column;
    gap: var(--gutter-md);
    align-items: flex-start;
  }
}
.no-form-captcha {
  display: flex;
  gap: fluid(6, 12);
  align-items: center;
  figure {
    height: var(--input-height);
    border: 1px solid var(--clr-border-white-strong);
    @include flex-center();
    width: fluid(80, 120);
    flex-shrink: 0;
  }
  button {
    width: fluid(36, 60);
    flex-shrink: 0;
    height: var(--input-height);
    color: #fff;
    border: 1px solid var(--clr-border-white-strong);
  }
  input {
    height: var(--input-height);
    border-bottom: 1px solid var(--clr-border-white-strong);
    background: transparent;
  }
}
.dropdown {
  width: 100%;
  transition: all 0.5s ease;
  position: relative;
  font-size: fluid(14, 16);
  height: 100%;
  text-align: left;
  height: var(--input-height);
  outline: none;
  border-bottom: 1px solid var(--clr-border-white-strong);
}
@media (max-width: 768px) {
  .dropdown {
    height: 4.5rem;
  }
}
.dropdown:hover {
  box-shadow: 0 0 4px #ccc;
  box-shadow: var(--input-box-shadow-hover);
}
.dropdown .select {
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: clamp(1.5rem, 0.1941747573vw + 1.427184466rem, 1.8rem);
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.dropdown .select > i {
  font-size: clamp(1.4rem, 0.1294498382vw + 1.3514563107rem, 1.6rem);
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  float: right;
  line-height: 20px;
}
.dropdown.active {
  box-shadow: var(--input-box-shadow-focus);
}
.dropdown.active .select > i {
  transform: rotate(-90deg);
}
.dropdown-menu {
  position: absolute;
  width: 100%;
  left: 0;
  background: #000;
  margin-top: 1px;
  overflow: hidden;
  display: none;
  max-height: 42rem;
  overflow-y: auto;
  z-index: 9;
  padding: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .dropdown-menu {
    max-height: 16rem;
  }
}
.dropdown-menu li {
  padding: 1.6rem 3rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.dropdown-menu li:hover {
  background-color: var(--clr-gray-50);
}
.dropdown-menu li:active {
  background-color: inherit;
}

.no-form-check label {
  margin-bottom: 0;
}
.no-form-check .check {
  width: 1.8rem;
  height: 1.8rem;
  display: none;
}
.no-form-check input[id="check"]:checked + label {
  border: none;
  background: url(/resource/images/icon/check.svg);
}
.no-form-check input + label {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  flex-shrink: 0;
  background: var(--clr-base-white);
  border: 1px solid var(--clr-gray-500);
  border-radius: 0.2rem;
}
input[type="checkbox"] {
  border: 2px solid #000;
  padding: 0;
  height: auto;
  box-shadow: none;
  width: auto;
  border-radius: inherit;
}
